html, body, .room-selection {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #252129;
}

%title-effect {
  color: #8a3521;
  font-weight: bold;
  text-shadow: 0 0 1px #e0d5a4, 0 0 1px #e0d5a4, 0 0 1px #e0d5a4, 0 0 1px #e0d5a4;
}

.room-selection {
  header {
    background-color: #60566b;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #c9c9c9;

    form.name-form {
      label {
      }

      .name-display {
        font-weight: bold;
      }

      .change-name {
        font-size: 10px;
      }
    }
  }

  main {
    width: calc(100px + 60%);
    padding: 20px;
    margin: 40px auto;
    background-color: #3b3441;
    color: #c9c9c9;

    section {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    .list-room {
      ul {
        list-style-type: none;
      }

      .room-item {
        display: flex;
        border: solid 1px rgba(255, 255, 255, 0.1);
        padding: 10px;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;

        &:first-child {
          margin-top: 0;
        }

        .room-name {
          font-size: 1.2em;
          font-weight: bold;
          @extend %title-effect;
          flex: 1;
        }

        & > * {
          margin: 0 10px;
          line-height: 1.2em;
        }
      }
    }
  }
}

.popup-bg {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

  .popup-holder {
    margin: auto;
    background-color: #3b3441;
    padding: 20px;
    color: #c9c9c9;
  }
}
